// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * FriendlyElec NanoPi M4 board device tree source
 *
 * Copyright (c) 2018 FriendlyElec Computer Tech. Co., Ltd.
 * (http://www.friendlyarm.com)
 *
 * Copyright (c) 2018 Collabora Ltd.
 * Copyright (c) 2019 Arm Ltd.
 */

/dts-v1/;
#include "rk3399-nanopi4.dtsi"

/ {
	model = "FriendlyElec NanoPi M4";
	compatible = "friendlyarm,nanopi-m4", "rockchip,rk3399";

	vdd_5v: vdd-5v {
		compatible = "regulator-fixed";
		regulator-name = "vdd_5v";
		regulator-always-on;
		regulator-boot-on;
	};

	vcc5v0_core: vcc5v0-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_core";
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vdd_5v>;
	};

	vcc5v0_usb1: vcc5v0-usb1 {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb1";
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_usb2: vcc5v0-usb2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb2";
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc5v0_sys>;
	};

	tc358840_clk: tc358840-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <48000000>;
		clock-output-names = "tc358840-clk";
	};
};

&vcc3v3_sys {
	vin-supply = <&vcc5v0_core>;
};

&u2phy0_host {
	phy-supply = <&vcc5v0_usb1>;
};

&u2phy1_host {
	phy-supply = <&vcc5v0_usb2>;
};

&vbus_typec {
	regulator-always-on;
	vin-supply = <&vdd_5v>;
};

&status_led {
	linux,default-trigger = "default-on";
};

&i2c1 {
	// MIPI-CSI2 as HDMI IN
	tc358840xbg@f {
		compatible = "toshiba,tc358840";
		reg = <0x0f>;
		state = "okay";

		// MIPI_CSI0_RST
		reset-gpios = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;

		interrupt-parent = <&gpio1>;
		interrupts = <RK_PA0 IRQ_TYPE_LEVEL_HIGH>; // jumper

		clocks      = <&tc358840_clk>;
		clock-names = "refclk";
		csi_port    = <1>;			// only TX0 enabled
		ddc5v_delay = <0>;			// disabled

		lineinitcnt    = <0x00000FA0>;
		lptxtimecnt    = <0x00000004>;
		tclk_headercnt = <0x00180203>;
		tclk_trailcnt  = <0x00040005>;
		ths_headercnt  = <0x000D0004>;
		twakeup        = <0x00003E80>;
		tclk_postcnt   = <0x0000000A>;
		ths_trailcnt   = <0x00080006>;
		hstxvregcnt    = <0x00000020>;
		btacnt         = <0x00040003>;

		/* Bps per lane is (refclk_hz / (prd + 1) * (fbd + 1)) / 2^frs */
		pll_prd = <10>;
		pll_frs = <1>;
		pll_fbd = <125>;

		port {
			tc358840xbg_out: endpoint {
				// mipi@ff960000 => MIPI_DST (MIPI_TX0)
				// mipi@ff968000 => MIPI_?   (MIPI_???)
				// spi0@??? => MIPI_?
				// spi1@??? => MIPI_?
				// remote-endpoint = <&spi0>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};
